.landing-page{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

  background: linear-gradient(135deg,#667eea,#764ba2,#ff7a00);

  color:white;
  text-align:center;
}

.landing-page h1{
  font-size:40px;
  margin-bottom:10px;
}

.landing-page button{
  margin-top:20px;
  padding:12px 25px;
  border:none;
  background:white;
  color:#333;
  border-radius:6px;
  cursor:pointer;
}